#lister, #register {
    display: none;
}

body {
    background-color: rgb(219, 0, 0);
    font-family: "Lucida Console";
    font-size: 1.5em; 
    color: rgb(195, 202, 216);
    height: 200px;
    width: 300px;
}

#form div {
    padding-bottom: 1em;
    padding-top: 2em;
}

#form input {
    margin-right: 1em;
}
